.navbar-lazada{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    width: 100%;
}

.lazada-image{
    width: 200px;
}

.search-lazada{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.search-button{
    background-color: transparent;
    height: 25px;
    padding: 0;
    border: none;
    cursor: pointer;
}
.search-button img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}